@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --primary-color: #ff9121;
}

body {
  font-family: "Montserrat", sans-serif;
}

hr {
  margin: 2rem 0;
}

/* container */
.container {
  padding: 0 1rem;
}
.container-center {
  max-width: 600px;
  margin: auto;
}

/* links */
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.primary-link {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
}
.secondary-link {
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  color: var(--primary-color);
  font-weight: bold;
}

/* lists */
.list-non-bullet {
  list-style-type: none;
}
.list-inline-item {
  display: inline;
  padding: 1rem;
}

/* nav */
.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem;
  border-bottom-left-radius: 1rem;
}
.navigation .link {
  color: white;
  font-size: 1.1rem;
}
.nav-brand {
  display: flex;
  justify-content: flex-start;
  font-size: 1.4rem;
  padding-top: 0.5rem;
  font-weight: bold;
}
.nav-pills {
  display: flex;
  justify-content: flex-end;
}
.link-active {
  font-weight: bold;
}
